<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{'springboard:static/img/favicon.ico'|static_url}}" />
    <title>{{ title|default(_("The Internet of Good Things")) }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="{{ description|default("") }}" />
    <meta name="keywords" content="{{ keywords|default("") }}" />
    <link href="{{'springboard:static/css/style.css'|static_url}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <div class="lang">
            {% for lang_code in featured_languages %}
                <span>
                    <a href="{{'locale_matched'|route_url(language=lang_code) }}">{{lang_code|display_language_name}}</a>
                </span>
                <span> | </span>
            {% endfor %}
            <span><a href="{{ 'locale_change'|route_url }}">&hellip;</a></span>
        </div>
        <div class="logo">
            <a href="{{ 'home'|route_url }}" class="logo"><img alt="{{ _('IoGT logo') }}" src="{{ 'springboard:static/img/logo000000.png'|static_url }}" /></a>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="submenu">
        <h2>{% trans %}Explore our sites{% endtrans %}</h2>
        <ul>
            <li><a href="{{ 'home'|route_url }}">{{ _("Home") }}</a></li>
        {% for nav in content_sections %}
            <li><a href="{{ 'content_section'|route_url(uuid=nav.uuid) }}">{{ nav.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div id="footer">
        <div>{% trans %}Powered by UNICEF{% endtrans %}</div>
    </div>

</body>
</html>
