{% extends "base.jinja2" %}
{% from "molecules/logo.jinja2" import logo %}
{% from "molecules/page_listing.jinja2" import page_listing %}
{% from "molecules/pagination.jinja2" import pagination_links %}
{% from "molecules/section_heading.jinja2" import section_title %}

{% block logo %}{{ logo('long') }}{% endblock %}

{% block content %}
<div>

    {% set section = category|content_section(request.localizer) %}
    {{ section_title(section) }}

    <div class="articles">

        <div class="h1"><div class="detail">
            {{category.title}}
        </div></div>

        {% set page_num = request.GET.get('p', 0)|int %}
        {% set paginator = all_pages.filter(primary_category=category.uuid).order_by('position', '-created_at')|paginate(page_num, 10) %}
        {% for page in paginator.get_page() %}
            {{ page_listing(page.to_object()) }}
        {% endfor %}

        {{ pagination_links(paginator, request, page_param='p') }}
    </div>
</div>
{% endblock %}
