{% extends "base.jinja2" %}
{% from "molecules/page_listing.jinja2" import page_listing %}
{% from "molecules/section_heading.jinja2" import section_title %}

{% block content %}
<div>

    {% set section = category|content_section %}
    {{ section_title(section) }}

    <div class="articles">

        <div class="h1">
            {{category.title}}
        </div>

        {% for page in all_pages.filter(primary_category=category.uuid)[:20] %}
            {{ page_listing(page) }}
        {% endfor %}

        {# TODO: pagination #}
    </div>
</div>
{% endblock %}
