{% extends "base.jinja2" %}
{% from "molecules/page_listing.jinja2" import page_listing %}

{% block content %}
<div>
    {# TODO: content section <div class="content-section">{{ content_section }}</div> #}
    <div class="articles">

        <div class="h1">
            {{category.title}}
        </div>

        {% for page in all_pages.filter(primary_category=category.uuid)[:20] %}
            {{ page_listing(page) }}
        {% endfor %}

        {# TODO: pagination #}
    </div>
</div>
{% endblock %}
