{% extends "base.jinja2" %}
{% from "molecules/logo.jinja2" import logo %}
{% from "molecules/section_heading.jinja2" import section_banner, section_title %}
{% from "molecules/page_listing.jinja2" import page_listing %}

{% block logo %}{{ logo('long') }}{% endblock %}

{% block content %}
<div>
        {{ section_title(section) }}

        {% set localisation=section.set_indexes(all_localisations).filter(locale=language)[0] %}
        {{ section_banner(section, localisation) }}

        {% for category in section.set_indexes(all_categories).filter(language=language).order_by('position') %}
            {% set category_pages=all_pages.filter(primary_category=category.uuid).order_by('position', '-created_at')[:4] %}
            {% if category_pages %}
            <div class="articles">
                <div class="h1"><div class="detail">
                    {{ category.title }}
                </div></div>
                {% for page in category_pages[:3] %}
                    {{ page_listing(page.to_object()) }}
                {% endfor %}
                {% if category_pages|length > 3 %}
                <div class="more listing {{ section.slug }}">
                    {% set category_url='category'|route_url(uuid=category.uuid) %}
                    {% set category_title_link=('<a href="%s">%s</a>' % (category_url, category.title))|safe %}
                    {% trans %}More {{ category_title_link }}{% endtrans %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
