{% extends "base.jinja2" %}

{% block content %}
<div>
    {# TODO: content section <div class="content-section">{{ content_section }}</div> #}
    <div class="articles">

        <div class="h1">
            {{page.title}}
        </div>

        <div class="detail">
            <p>{{page.content|markdown}}</p>
        </div>
    </div>
</div>
{% endblock %}
