{% extends "base.jinja2" %}
{% from "molecules/page_listing.jinja2" import page_listing_with_section, page_listing_override %}

{% block content %}
<div>

    <div class="h1"><div class="detail">{% trans %}Recommended{% endtrans %}</div></div>

    <div class="home">
    {% set pages=all_pages|recent_pages(language) %}
    <div class="articles">
    {% for page in pages %}
        {% if loop.first %}
            {{ page_listing_with_section(page, "full-image", image_first=false, localizer=request.localizer) }}
        {% else %}
            {{ page_listing_with_section(page, localizer=request.localizer) }}
        {% endif %}
    {% endfor %}

    {# Call-to-action for overrides #}
    {% for section in content_section_url_overrides_data_list %}
    {{ page_listing_override(section) }}
    {% endfor %}

    </div>
    </div>
</div>
{% endblock %}
