{% extends "base.jinja2" %}
{% from "molecules/page_listing.jinja2" import page_listing %}

{% block content %}
<div>

    <h2>{% trans %}Recommended{% endtrans %}</h2>

    {% set pages=all_pages|recent_pages(language) %}
    {% for page in pages %}
        <div class="articles">
            {% if loop.first %}
                {{ page_listing(page, "large-listing") }}
            {% else %}
                {{ page_listing(page) }}
            {% endif %}
            {# TODO content section link #}
        </div>
    {% endfor %}
</div>
{% endblock %}
