{% extends "base.jinja2" %}
{% from "molecules/page_listing.jinja2" import page_listing_with_section %}
{% from "molecules/link_listing.jinja2" import link_listing %}

{% block content %}
<div>

    <div class="h1">{% trans %}Recommended{% endtrans %}</div>

    {% set pages=all_pages|recent_pages(language) %}
    <div class="articles">
    {% for page in pages %}
        {% if loop.first %}
            {{ page_listing_with_section(page, "full-image", image_first=false) }}
        {% else %}
            {{ page_listing_with_section(page) }}
        {% endif %}
    {% endfor %}

    {# Call-to-action for FFL and Ebola #}
    {% set ffl_url=content_section_url_overrides.get('ffl') %}
    {% if ffl_url %}
    {{ link_listing(_('Make sure your family stays healthy with Facts for Life'), ffl_url, 'ffl') }}
    {% endif %}
    {% set ebola_url=content_section_url_overrides.get('ebola') %}
    {% if ebola_url %}
    {{ link_listing(_('Find out how to treat and stop Ebola'), ebola_url, 'ebola') }}
    {% endif %}
    </div>
</div>
{% endblock %}
