{% extends "base.jinja2" %}
{% from "molecules/logo.jinja2" import logo %}
{% from "molecules/section_heading.jinja2" import section_title %}

{% block logo %}{{ logo('long') }}{% endblock %}

{% block content %}
<div>
    {% set section = page|content_section(request.localizer) %}
    {{ section_title(section) }}

    <div class="articles">

        <div class="{{ section.slug }}">
            <div class="h1"><div class="back">
                <a href="{{'category'|route_url(uuid=category.uuid)}}">{{ category.title }}</a>
            </div></div>

            <div class="article">
                {% set has_image = page.image_host and page.image %}
                <div class="head{% if not has_image %} no-pic{% endif %}">
                    <div class="h2">{{page.title}}</div>
                    {% if has_image %}
                    <div class="img">
                        <a href="{{'page'|route_url(uuid=page.uuid)}}">
                            <img alt="{{page.title}}" src="{{page.image_host}}{{page.image|thumbor(140)}}" srcset="{{page.image_host}}{{page.image|thumbor(320)}} 320w" sizes="100vw" />
                        </a>
                    </div>
                    {% endif %}
                    <div class="meta">{{page.description|markdown}}</div>
                </div>
                <div>{{page.content|markdown}}</div>

                {% if page.linked_pages %}
                    {% set linked_pages = all_pages.filter(uuid__in=page.linked_pages) %}
                    {% if linked_pages %}
                    <div class="items">
                        {% for linked_page in linked_pages %}
                        <div class="item">
                            <a href="{{'page'|route_url(uuid=linked_page.uuid)}}">{{linked_page.title}}</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>

    </div>

</div>
{% endblock %}
