{% extends "base.jinja2" %}
{% from 'molecules/persona.jinja2' import persona %}

{% block content %}
<div>
    <h2>{% trans %}Who are you?{% endtrans %}</h2>
    {% set query=({'next': request.GET['next']} if 'next' in request.GET else None) %}
    <div class="personae">
        {{ persona('child', _('Child'), query) }}
        {{ persona('teenager', _('Teenager'), query) }}
        {{ persona('parent', _('Parent'), query) }}
        {{ persona('worker', _('Worker'), query) }}
    </div>
    <div class="personae-skip">
        <a href="{{ 'skip_persona_selection'|route_url(_query=query) }}">{% trans %}Skip{% endtrans %} <span class="align-right">&gt;</span></a>
    </div>
</div>
{% endblock %}
