{% extends "base.jinja2" %}
{% from 'molecules/persona.jinja2' import persona %}

{% block content %}
<div>
    <div class="h1 pad">{% trans %}Who are you?{% endtrans %}</div>
    {% set query=({'next': request.GET['next']} if 'next' in request.GET else None) %}
    <ul class="personae">
        <li class="child">{{ persona('child', _('Child'), query) }}</li>
        <li class="teenager">{{ persona('adolescent', _('Adolescent'), query) }}</li>
        <li class="parent">{{ persona('parent', _('Parent / Caregiver'), query) }}</li>
        <li class="worker">{{ persona('worker', _('Teacher / Health / Social Worker'), query) }}</li>
    </ul>
    <div class="h1 personae-skip pad">
        <a href="{{ 'skip_persona_selection'|route_url(_query=query) }}">{% trans %}Skip{% endtrans %}</a>
    </div>
</div>
{% endblock %}

{% block menu %}{# Hide the menu #}{% endblock %}
