{% extends "base.jinja2" %}
{% from 'molecules/persona.jinja2' import persona %}

{% block content %}
<div>
    <div>{% trans %}Which one are you?{% endtrans %}</div>
    {% set next_url=(request.referrer if request.referrer != request.current_route_url() else None) %}
    <div class="personae">
        {{ persona('child', _('Child'), next_url) }}
        {{ persona('teenager', _('Teenager'), next_url) }}
        {{ persona('parent', _('Parent'), next_url) }}
        {{ persona('worker', _('Worker'), next_url) }}
    </div>
    <div>
        <a href="{{ 'skip_persona_selection'|route_url }}">{% trans %}Skip this{% endtrans %}</a>
    </div>
</div>
{% endblock %}
