{% macro page_listing_inner(page, image_first=true) -%}
    {% set has_image = page.image and page.image_host %}
    {% if image_first and has_image %}
    <a href="{{ 'page'|route_url(uuid=page.uuid) }}">
        <img alt="{{ page.title }}" src="{{ page.image_host }}{{ page.image|thumbor(140) }}" srcset="{{page.image_host}}{{page.image|thumbor(320)}} 320w" sizes="100vw" />
    </a>
    {% endif %}
    <div class="h2">
        <a href="{{ 'page'|route_url(uuid=page.uuid) }}">{{page.title}}</a>
    </div>
    {% if not image_first and has_image %}
    <a href="{{ 'page'|route_url(uuid=page.uuid) }}">
        <img alt="{{ page.title }}" src="{{ page.image_host }}{{ page.image|thumbor(140) }}" srcset="{{page.image_host}}{{page.image|thumbor(320)}} 320w" sizes="100vw" />
    </a>
    {% endif %}
    <div>{{ page.description|markdown }}</div>
    <div class="clr"></div>
{%- endmacro %}


{% macro page_listing(page, extra_classes="", image_first=true) -%}
    {% set section = page|content_section %}
    <div class="listing {{ section.slug }} {{ extra_classes }}">
        {{ page_listing_inner(page, image_first=image_first) }}
    </div>
{%- endmacro %}


{% macro page_listing_with_section(page, extra_classes="", image_first=true, localizer=None) -%}
    {% set section = page|content_section(localizer) %}
    <div class="listing {{ section.slug }} {{ extra_classes }}">
        {{ page_listing_inner(page, image_first=image_first) }}
        {% if section %}
        <div class="section-link">
            <a href="{{ 'content_section'|route_url(slug=section.slug) }}">{{ section.title }}</a>
        </div>
        {% endif %}
    </div>
{%- endmacro %}


{% macro page_listing_override(section, extra_classes="") -%}
<div class="listing {{ section.slug }} {{ extra_classes }}">
  {% if section.data.banner_url %}
  <a href="{{ section.url }}">
  <img src="{{section.data.banner_url|static_url}}" alt="{{section.data.title}}"/>
  </a>
  {% else %}
    <div class="h2">
        <a href="{{ section.url }}">{{section.data.title}}</a>
    </div>

    <div>{{ section.data.descriptor }}</div>
  {% endif %}
    <div class="clr"></div>

    <div class="section-link">
        <a href="{{ section.url }}">{{ section.data.title }}</a>
    </div>
</div>
{%- endmacro %}
