{% macro persona(slug, display_name, query=None) -%}
    <div class="persona listing">
        <a href="{{ 'select_persona'|route_url(slug=slug, _query=query) }}">
            <img class="persona-image" src="{{ ('springboard_iogt:static/img/persona_%s.png' % slug)|static_url }}" alt="{% trans %}{{ display_name }} image{% endtrans %}">
            <span class="persona-name">{{ display_name }}</span>
        </a>
    </div>
{%- endmacro %}
