{% macro section_banner(section, localisation) -%}
<div class="section-banner {{ section.slug }}">
    {%- if localisation and localisation.image_host and localisation.image -%}
        <img alt="{% trans owner=section.owner %}Brought to you by {{ owner }}{% endtrans %}" src="{{ localisation.image_host }}{{ localisation.image|thumbor(140) }}" srcset="{{localisation.image_host}}{{localisation.image|thumbor(320)}} 320w" sizes="100vw" />
    {%- else -%}
        <img alt="{% trans owner=section.owner %}Brought to you by {{ owner }}{% endtrans %}" src="{{ ('springboard_iogt:static/img/banner_%s.jpg' % section.slug)|static_url }}" />
    {%- endif -%}
</div>
{%- endmacro %}


{% macro section_title(section) -%}
<div class="h1 section-title {{ section.slug }}">
    <div>
        <a href="{{ 'content_section'|route_url(slug=section.slug) }}">{{ section.title }}</a>
    </div>
</div>
{%- endmacro %}
