/*  SETTINGS (device specific etc)  */

    html, body { -webkit-text-size-adjust: none; }
    *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    :focus { outline: none; }


/*  GLOBALS  */

    html, body { margin: 0; padding: 0; background: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 1.4em; color: #666; }
    input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
    a { color: #9630c8; text-decoration: none; font-weight: bold; }
    .clr { width: 100%; height: 0px; clear: both; display: block; }
    .purple { background: #514392; color: #fff; }
    .grey { background: #ededed; color: #666; }


/*  HEADER  */

    #header { width: 100%; background: #000; position: relative; z-index: 100000; }
        #header .logo a { padding: 0; margin: 7px 18px 0px 18px; display: block;}
        #header .logo img { width: 140px; }
        #header .drop { display: none; }
        #header .lang {width: 100%; line-height: 20px; padding: 8px 18px; display: block; background: #2d2d2d; color: #514392; }
            #header .lang a {color: #fff; font-weight: normal; }


/*  SUBMENU  */

    #submenu .h1 { background: #514392; color: #fff; }
    #submenu ul { list-style: none; padding: 0; margin: 0;}
    #submenu li { line-height: 24px; padding: 14px 24px; background: #ededed; border-bottom: solid 1px #fff; }


/*  BANNER  */

    #banner { padding: 0; margin: 0 0 3px 0; position: relative; z-index: 1; }
        #banner img { width: 100%; display: block; }


/*  CONTENT  */

    #content { background: #fff; position: relative; }

        /* Frequently Used */
        .h1 { line-height: 24px; margin: 0; padding: 14px 24px; font-weight: bold; background: #ededed; }
        .listing { min-height: 45px; border-top: solid 1px #e4e4e4; }
        .pagination { background: #eeeeee; padding: 8px 18px; }
        .auth form .btns input,
        .auth form .btns a,
        .poll .btns input,
        .listing .more a,
        .pagination a,
        .addcomment form .btns input,
        .challenge .btns input,
        .challenge .btns a { border: 0; }
        .pagination a.right { display: none; }
        .align-right { float:right; }

        /* Articles */
        .articles { padding: 0; margin: 0; }
            .articles .listing { padding: 24px 24px; }
            .articles .section-link { font-size: 14px; }
                .articles .listing img { width: 40%; float: left; margin: 3px 18px 0 0; display: block; }
                .articles .full-image img { width: 100%; margin: 14px 0 14px 0; float: none; display: block; }
                .articles .listing .h2 { margin: 0; padding: 0; color: #000;  }
                .articles .listing p { margin: 0; padding: 2px 0 0 0; color: #888888; }
                .articles .pagination a { font-weight: bold; color: #000; }
                .articles .no-pic .h2, .articles .no-pic p { margin-left: 0; }
            .articles .detail { padding: 13px 18px; }
                .articles .detail pre {
                    word-break: break-all; /* webkit */
                    word-wrap: break-word;
                    white-space: pre;
                    white-space: -moz-pre-wrap; /* fennec */
                    white-space: pre-wrap;
                    white-space: pre\9; /* IE7+ */
                }
                .articles .detail img { width: 100%; margin: 14px 0; display: block; }
                .articles .detail .date { font-size: 13px; text-transform: uppercase; color: #bbb; }

        /* Content section-specific */
        .section-title { line-height: 32px; font-size: 32px; color: #fff; margin: 0; padding: 24px 24px; font-weight: bold; }
        .section-title a { color: #fff; }

        /* Facts For Life */
        .articles .ffl a { color: #32bac2; }
        .section-title.ffl { background-color: #32bac2; }

        /* Barefoot Law */
        .articles .barefootlaw a { color: #6ec17c; }
        .section-title.barefootlaw { background-color: #6ec17c; }

        /* Mariestopes */
        .articles .mariestopes a { color: #e04a5a; }
        .section-title.mariestopes { background-color: #e04a5a; }

        /* Straight Talk */
        .articles .straighttalk a { color: #c977b2; }
        .section-title.straighttalk { background-color: #c977b2; }

        /* U-report */
        .articles .ureport a { color: #f18054; }
        .section-title.ureport { background-color: #f18054; }


/*  FOOTER  */

    #footer { padding: 24px; position: relative; }
    #footer a { color: #514392; }


/*  RETINA (because it's nice when you work on something that looks good)  */

    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx)
    {

        /* header */
        /*#header a.logo { background: url('../img/logo_x2.png') no-repeat; background-size: 197px 46px; }*/

    }


/* PREVIEW: Mobile "preview" for large screens */

    @media screen and (min-width: 1024px) {
        html {
            background-color: #333;
        }
        body {
            max-width: 320px;
            margin: 0 auto;
        }
    }
