    .personae li{border-bottom: solid 2px #e4e4e4; }
    .personae a {
        padding: 2em 6em;
        background: transparent 10px 10px no-repeat;
    }

    .personae .child a{background-image: url('img/persona_child.png');}
    .personae .teenager a{background-image: url('img/persona_teenager.png');}
    .personae .parent a{background-image: url('img/persona_parent.png');}
    .personae .worker a{background-image: url('img/persona_worker.png');}